<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mybatis.mapper.InstructorMapper">
    <resultMap id="stuEmp" type="Instructor">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <association property="instructorDetail" javaType="InstructorDetail">
            <id column="id" property="id"/>
            <result column="youtube_channel" property="youtubeChannel"/>
            <result column="hobby" property="hobby"/>
        </association>
    </resultMap>

    <select id="findByAssociation" resultMap="stuEmp">
        select  i.id, i.first_name, i.last_name, i.email, d.id,
               d.youtube_channel,d.hobby from instructor i left join
                   instructor_detail d on i.instructor_detail_id = d.id where i.id = #{id}
    </select>
    
    <insert id="addInstructor" useGeneratedKeys="true" keyProperty="instructor.id">
      insert into instructor values(null, #{instructor.firstName}, #{instructor.lastName}, #{instructor.email}, #{instructor_detail_id})
    </insert>
</mapper>